.bg-container{
   
    display: flex;
    flex-direction: column;
    align-items: center;

}
.top-section-container{
    width: 85%;
}
@media screen and (min-width:768px){
    .top-section-container{
        width: 90%;
    }
}
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar-brand-text{  
    color:#051456; 
    font-weight: 600;
    font-family:sans-serif;
    font-size: 24px !important;
}
.nav-links-container{
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
.nav-item{
    padding:10px;
}
.nav-link{
    font-size: 15px;
    
    font-weight: 500;
    font-family:sans-serif;
}
.try-for-free-btn{
    background-color: #766CFE;
    color: #ffffff;
    font-family:sans-serif;
    font-weight: 600;
    font-size: 16px;
    height: 32px;
    width: 120px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.profile-search-container{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 40px;
   margin-top: 5px;
}
.referral-text{
    font-family: sans-serif;
    font-size: 22px;
    color: #000435;
}
.input-element-styling{
    background-color: #E3E7F1;
    border: none;
    width: 200px;
    height: 30px;
    font-size: 14px;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
    padding-left: 8px;
    margin: 0px;
}
.search-icon{
    background-color: #E3E7F1;
    width: 29px;
    font-size: 17px;
    height: 32px;
    border-top-left-radius:6px ;
    border-bottom-left-radius: 6px;
    margin: 0px;
    display: flex;
    cursor: pointer;
    align-items: center;
     justify-content: center;
    color: #766CFE;
}
.icon-input-container{
    display: flex;
    align-items: center;
}
.search-button{
    background-color: #766CFE;
    color: #ffffff;
    font-family:sans-serif;
    font-weight: 500;
    font-size: 16px;
    height: 32px;
    width: 100px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.notification-icon{
   font-size: 26px;
    color: #F7CB2D;
    margin: 12px;
}
.user-logo{
    width: 60px;
    height: 60px;
    margin: 12px;
}
.user-name-text{
    font-size: 16px;
    font-family:sans-serif;
    margin: 12px;
}
.profile-notification-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: space-between;
    width: 85%;
    margin-top: 40px;
}

@media screen and (min-width:768px){
    .footer-container{
        width: 90%;
    }
}

.footer-information {
    display: flex;
    flex-direction: row;
     justify-content: space-between;
     width: 100%;
}


.service-name {

    padding-left: 34px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #000435;

}

.service-list-container {
    list-style-type: none;
   
}

.list-items {
    padding-bottom: 15px;
    font-family: 'Roboto';
    font-size: 15px;
    color: #A9A9A9;
}

.footer-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 60px;
}

.logo-design {
    font-family: 'Roboto';
    font-size: 30px;
    color: #000435;
}

.copy-right {
    color: #A9A9A9;
    font-family: 'Roboto';
    font-size: 15px;
}

.follow-us-section-container {
    display: flex;
    flex-direction: row;
   
}

.social-media-icon {
    color: #A9A9A9;
    padding-right: 10px;
}
.content-section-container{
    width: 85%;
  
    
}
@media  screen and (min-width:768px) {
    .content-section-container{
        width: 90%;
    }
}
.user-account-info-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 30px;
}
.card{
    background-image: linear-gradient(to bottom right,#9505E3, #1F51FF);
    width: 220px;
    height: 140px;
    border-radius: 10px;
    margin-bottom:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-details{
    font-family:sans-serif;
    font-size: 16px;
    color: #ffffff;
}
.earnings-info-container{
    width:100%;
    height: 120px;
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.earnings-container-description{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.earnings-container-title{
    font-family:sans-serif;
    color: #36454F;
    font-size: 16px;
}
.earnings-container-description{
    font-family:sans-serif;
    font-size: 16px;
    color: #9505E3;
} 





.referral-container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}
.referral-link-container{
    display:flex;
    flex-direction:column;
}


.referral-link-title {
    font-family:'Roboto';
    font-size:20px;
    font-weight:800;
    color:#051456;
}

.referral-input {
    height:30px;
    width:500px;
    border-radius:10px;
    outline:none;
    border:1px 	#808080 solid;
    padding-left:20px;
}

.referral-input-container {
    display:flex;
    flex-direction:row;
}
.copy-button {
    border-radius:15px;
    background-color:#0000FF;
    border:none;
    height:30px;
    width:80px;
    margin-left:20px;
    color:#ffffff;
    font-family:'Roboto';
    font-weight:200;
    font-size:12px;
}

.copy-icon {
    color:#ffffff;
    padding-right:9px;
}

.referral-code-container {
   margin-left:40px;
}


.referral-code-title {
    font-family:'Roboto';
    font-size:20px;
    font-weight:800;
    color:#051456;
}

.referral-code-input {
   height:30px;
    width:100px;
    border-radius:10px;
    outline:none;
    padding-left:20px;
    border:1px 	#808080 solid;
}



.pages-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:20px;
    width: 100%;
   
}

.search-container {
    display:flex;
    flex-direction:row;
    margin-top:50px;
}
.show {
    font-family:'Roboto';
    font-size:20px;
    font-weight:500;
    color:black;
}
.number {
   border:#8665f7 1px solid;
   background-color:#b2beb5;
   color:#8665f7;
   padding-left:20px;
   padding-right:20px;
   height:20px;
   margin-left:20px;
   border-radius:5px;
}

.search-input{
    height:30px;
    width:285px;
    border-radius:10px;
    outline:none;
    padding-left:20px;
    border:1px 	#495ceb solid;
    margin-left:20px
}


.search-input-container{
    display:flex;
    flex-direction:row;
    margin-left:30px;
   
}

.search-name {
    font-family:'Roboto';
    font-size:20px;
    font-weight:500;
    color:black;
}

.entries {
    font-family:'Roboto';
    font-size:20px;
    font-weight:500;
    color:black;
    margin-left:20px;
}



.table-row{
    display: table;
    width: 600px;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background: #8665f7;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
  
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color: #555;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}



.entries-container {
    display:flex;
    flex-direction:row;

}

.entries-side-heading{
    font-family:'Roboto';
    font-size:20px;
    font-weight:500;
    color:black;

}

.previous-button {
    border:1px #8665f7 solid;
    border-radius:5px;
    height:30px;
    width:100px;
    color:#8665f7;
    background-color:transparent;
    margin-left:50px;

}
.number-button-1 {
    border:1px #8665f7 solid;
    border-radius:5px;
    height:30px;
    width:30px;
    color:#ffffff;
    background-color:#8665f7;
    margin-left:10px;
}

.number-button{
    border:1px #8665f7 solid;
    border-radius:5px;
    height:30px;
    width:30px;
    color:#8665f7;
    background-color:transparent;
    margin-left:10px;
}

.next-button {
    border:1px #8665f7 solid;
    border-radius:10px;
    height:30px;
    width:100px;
    color:#8665f7;
    background-color:transparent;  
    margin-left:10px;

}
.card-icon{
    width:40px;
    height: 40px;
    background-color: #ffffff;
    margin-right: 13px;
}
.refer-frnds-title {
    font-family:'Roboto';
    font-size:20px;
    font-weight:800;
    color:#051456;
    margin-top:20px;
    margin-bottom: 20px;
}
.line {
   border-color:#4d4dff;
  
}